absl-py
aiohttp
albumentations
async-timeout
attrs
cachetools
certifi
chardet
click
cycler
decorator
filelock
flake8
fsspec
future
google-auth
google-auth-oauthlib
grpcio
idna
imageio
imgaug
Jinja2
kiwisolver
lightning-utilities
Markdown
MarkupSafe
matplotlib
mccabe
mpmath
multidict
mypy
mypy-extensions
networkx
numpy
oauthlib
opencv-python
opencv-python-headless
packaging
pandas
Pillow
protobuf
pyasn1
pyasn1-modules
pycodestyle
pydocstyle
pyflakes
pyparsing
pytesseract
python-dateutil
pytorch-lightning
pytz
PyWavelets
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scipy
Shapely
six
snowballstemmer
sympy
tensorboard
tensorboard-plugin-wi
tifffile
torch 
torchmetrics
torchvision 
tqdm
typed-ast
typing-extensions
urllib3
Werkzeug
yarl
streamlit
opencv-python
